<body>
    <section class="ftco-section">
        <div class="container" *ngIf="cliente">
            <div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2> Bienvenido The Llama Llama Web</h2>
                                <p>¿No tienes cuenta?!Crea una ahora!</p>
                                <a href="/registertienda" class="btn btn-white btn-outline-white"> Registrarse</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h1 class="mb-4">Login</h1>
                                </div>
                                <button class="form-control btn btn-primary submit px-3" routerLink='/login'>¿Eres Cliente? Logea Aqui</button>
                            </div>
                            <form class="signin-form" [formGroup]="loginUserForm">
                                <div class="form-group mb-3" >
                                        <label class="label" for="usuario" >RUC</label>
                                        <input type="text" formControlName="usuario" placeholder="Ingresa tu Usuario" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                        <label class="label" for="password">CONTRASEÑA</label>
                                        <input type="password" formControlName="password" placeholder="Password" class="form-control"> 
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3" [disabled]="!loginUserForm.valid" 
                                    (click)='getAuthV()'>Validar Login Vendedor</button>
                                    <button type="submit" class="form-control btn btn-primary submit px-3" [disabled]="this.status != 'Succes'" 
                                    [routerLink]="['/tienda', tienda.id]" > Ingresar Vendedor </button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-md-right">
                                        <a href="#">Forgot Password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>