<body>
    <div class="container">
        <div class="title">
            <h4> Registro de Cliente </h4>
        </div>
        <form action="#" [formGroup]="registroUsuarioForm" (ngSubmit)="createcliente">
            <div class="user-details">
                <div class="input-box">
                    <mat-label class="details"> Nombre </mat-label>
                    <input formControlName="nombre" placeholder="Ingresa tu nombre" required matInput>
                </div>
                <div class="input-box">
                    <mat-label class="details"> Apellido Paterno </mat-label>
                    <input formControlName="apellido_paterno" placeholder="Ingrese apellido paterno" required matInput>
                </div>
                <div class="input-box">
                    <mat-label class="details"> Apellido Materno </mat-label>
                    <input formControlName="apellido_materno" placeholder="Ingrese apellido materno" required matInput>
                </div>
                <div class="input-box">
                    <mat-label class="details"> DNI </mat-label>
                    <input formControlName="dni" placeholder="Ingresa tu  DNI" required matInput>
                </div>
                <div class="input-box">
                    <mat-label class="details"> Contraseña </mat-label>
                    <input formControlName="password" placeholder="Ingresa tu contraseña" required matInput>
                </div>
                <div class="input-box">
                    <mat-label class="details"> Direccion </mat-label>
                    <input formControlName="direccion" placeholder="Ingresa tu direccion" required matInput>
                </div>
                <div class="input-box">
                    <mat-label class="details"> Telefono de contacto </mat-label>
                    <input formControlName="telefono" placeholder="Ingreas tu Telefono de contacto" required matInput>
                </div>
            </div>
            <div class="button">
                <button class="submit" mat-raised-button (click)='createcliente()' [disabled]=!registroUsuarioForm.valid routerLink='/login'>
                    Registrar 
                </button>
            </div>
        </form>
    </div>    
</body>