<div class="row">
    <div class="col-md-12">
        <div class="register">
            <form class="product-form" [formGroup]="tpForm" (ngSubmit)="registrarTiendaProducto()">
                <h1>Registra Producto</h1>
                <div class="justify-content-center">
                    <mat-form-field>
                        <mat-label> ID Producto </mat-label>
                        <mat-select formControlName="productoid">
                            <mat-option *ngFor="let product of products" [value]="product.id">
                                {{product.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label> Precio</mat-label>
                        <input formControlName="precio" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label> Stock </mat-label>
                        <input  formControlName="stock" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label> Descuento</mat-label>
                        <input formControlName="descuento" matInput>
                    </mat-form-field>
                </div>
                <div class="text-right">
                    <button type="submit" mat-button color="primary"
                        [disabled]="!tpForm.valid"> Registrar </button>
                </div>
            </form>
        </div>
    </div>
</div>
