<mat-toolbar color="beige">
    <span>The Llama Llama: Clientes</span>
    <span class="example-spacer"></span>
    <form class="form-inline md-form mr-auto mb-4">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar productos en tiendas" aria-label="Search">
        <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
    </form>
    <span class="example-spacer"></span>
    <button mat-button routerLink="tiendas">Mirar Productos</button>
    <button mat-button routerLink="compras">Crear Compra</button>
    <button mat-button>Actualizar Perfil</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="login">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>