<div *ngIf=cliente>
    <mat-toolbar color="beige">
    <span>The Llama Llama: Clientes</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['/cliente' , cliente.id, 'tiendas']">Comprar Productos</button>
    <button mat-button [routerLink]="['/cliente' , cliente.id, 'compras']">Historial de compras</button>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['/login']">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
</div>