<header>
    <app-headercliente></app-headercliente>
    <div class="nav-bar" [formGroup]="busquedaForm">
        <input class="search-input" placeholder="¿Qué estas buscando?" formControlName="texto" matInput > 
            <i class="fa fa-search" aria-hidden="true" (click)="busquedaNomProd()"></i>
        <span class="box-pedidos"> <i class="fa fa-shopping-cart" aria-hidden="true" (click)="showCart()"></i> </span>

        <div class="dropdown">
            <span class="dropBtn"> <i class="fa fa-user-o" aria-hidden="true"></i> Mi cuenta </span>
            <div class="drop-down-content">
                <a href="/#"> Login</a>
                <a href="/register"> Register</a>
                <a href=""> Perfil</a>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container" [formGroup]="cantidadForm">
        <div class="productCard" *ngFor="let tp of tienda_productos">
            <div class="imgBox">
                <img src="assets/img/2181.jpg" alt="Llama Llama Product" width="100%">
                    <ul class="action">
                        <li> 
                            <i class="fa fa-cart-plus" aria-hidden="true" (click)="addToCart(tp.precio, tp.productoid, tp.tiendaid)" ></i> 
                            <span> Add to Cart</span>
                        </li>
                        <li>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span>See Details</span>
                        </li>
                    </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3> {{tp.prodN}} </h3>
                    <h2><input class="cant-prod" type="number" placeholder="Cantidad" formControlName="cantidad" style="width: 25%;" matInput ></h2>
                </div>                
                <div class="price_rating">
                    <h2> S/ {{tp.precio}} </h2>
                    <h2> {{tp.tname}}</h2>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>  
            </div>  
        </div>      
    </div>
</body>